#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&zip_temp_layer {
    excluded-positions = <
        14
        19
        25
        26
        27
        32
        33
        34
        38
        39
        40
        41
        47
    >;
};

/ {
    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
            layers = <2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&none  &none           &none     &none      &none            &none                                          &none                &none  &none  &none  &none    &none
&none  &kp Q           &kp L     &kp U      &kp PERIOD       &kp COMMA                                      &kp F                &kp W  &kp R  &kp Y  &kp P    &none
&none  &kp E           &kp I     &kp O      &kp A            &kp SEMICOLON        &none        &none        &kp K                &kp T  &kp N  &kp S  &kp H    &none
&none  &kp Z           &kp X     &kp C      &kp V            &kp MINUS            &to 1        &to 2        &kp G                &kp D  &kp M  &kp J  &kp B    &none
&none  &kp LEFT_SHIFT  &kp LGUI  &kp EQUAL  &mt LCTRL SPACE  &mt LSHFT BACKSPACE  &lt 2 LANG2  &lt 1 LANG1  &mt RIGHT_ALT ENTER  &none  &none  &none  &kp TAB  &none
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans          &trans        &trans        &trans           &trans                                &trans              &trans    &trans     &trans            &trans             &trans
&trans  &kp F1          &kp F2        &kp F3        &kp F4           &kp F5                                &kp F6              &kp F7    &kp F8     &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans
&trans  &kp NUMBER_1    &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4     &kp N5                &trans  &trans  &kp NUMBER_6        &kp N7    &kp N8     &kp N9            &kp N0             &trans
&trans  &none           &none         &none         &none            &kp MINUS             &none   &to 2   &kp BACKSLASH       &kp PLUS  &kp MINUS  &kp ASTERISK      &kp SLASH          &trans
&trans  &kp LEFT_SHIFT  &trans        &kp EQUAL     &mt LCTRL SPACE  &mt LSHIFT BACKSPACE  &to 0   &to 0   &mt LEFT_ALT ENTER  &trans    &trans     &kp LEFT_ALT      &kp TAB            &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans     &trans          &trans          &trans           &trans                                    &trans              &trans     &trans          &trans        &trans   &trans
&trans  &none      &none           &kp UP_ARROW    &none            &none                                     &none               &none      &msc SCRL_UP    &none         &none    &trans
&trans  &none      &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &none                     &trans  &trans  &kp LC(K)           &mkp LCLK  &msc SCRL_DOWN  &mkp RCLK     &none    &trans
&trans  &kp LC(Z)  &kp LC(X)       &kp LC(C)       &kp LC(V)        &none                     &to 1   &none   &none               &none      &mkp MCLK       &none         &none    &trans
&trans  &trans     &trans          &kp EQUAL       &mt LCTRL SPACE  &mt LEFT_SHIFT BACKSPACE  &to 0   &to 0   &mt LEFT_ALT ENTER  &none      &trans          &kp LEFT_ALT  &kp TAB  &trans
            >;
        };
    };
};
